<h1><center><font color='midnightblue'> Assignment Of Inferential Statistics:</font></center></h1>

In [1]:
import pandas as pd

<h1><center><font color='crimson'> Steps to clean the data:</font></center></h1>

<h2><center><font color='blue'> 1) Reading the whole file:</font></center></h2>

In [2]:
ab_data = pd.read_csv('ab_data.csv')
ab_data

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

<h2><center><font color='blue'> 2) Printing the first five rows of the file:</font></center></h2>

In [3]:
ab_data.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

<h2><center><font color='blue'> 3) Printing the information of the file:</font></center></h2>

In [4]:
ab_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 7.9+ MB

<h2><center><font color='blue'> 4) Printing the describtion of the file:</font></center></h2>

In [5]:
ab_data.describe()

             user_id      converted
count  294478.000000  294478.000000
mean   787974.124733       0.119659
std     91210.823776       0.324563
min    630000.000000       0.000000
25%    709032.250000       0.000000
50%    787933.500000       0.000000
75%    866911.750000       0.000000
max    945999.000000       1.000000

<h2><center><font color='blue'> 5) Printing the number of rows and coloumns of the file:</font></center></h2>

In [6]:
ab_data.shape

(294478, 5)

<h2><center><font color='crimson'> Error number 1; <font color='blue'>Checking if there is any null values:</font></font></center></h2>

In [7]:
ab_data.isnull().any()

user_id         False
timestamp       False
group           False
landing_page    False
converted       False
dtype: bool

<h3><font color='limegreen'> There is no any null values.</font></h3>

<h2><center><font color='crimson'> Error number 2; <font color='blue'>The Data Shouldn’t include users their Groups is
    ‘treatment’ and the landing page is ‘old_page ‘:</font></font></center></h2>

In [8]:
a = ab_data.query('group == "treatment" & landing_page != "new_page"')
a

        user_id                   timestamp      group landing_page  converted
308      857184  2017-01-20 07:34:59.832626  treatment     old_page          0
327      686623  2017-01-09 14:26:40.734775  treatment     old_page          0
357      856078  2017-01-12 12:29:30.354835  treatment     old_page          0
685      666385  2017-01-23 08:11:54.823806  treatment     old_page          0
713      748761  2017-01-10 15:47:44.445196  treatment     old_page          0
...         ...                         ...        ...          ...        ...
293773   688144  2017-01-16 20:34:50.450528  treatment     old_page          1
293817   876037  2017-01-17 16:15:08.957152  treatment     old_page          1
293917   738357  2017-01-05 15:37:55.729133  treatment     old_page          0
294014   813406  2017-01-09 06:25:33.223301  treatment     old_page          0
294252   892498  2017-01-22 01:11:10.463211  treatment     old_page          0

[1965 rows x 5 columns]

<h2><center><font color='crimson'>Error number 3; <font color='blue'>The Data Shouldn’t include users their Groups is ‘control’ and the landing page is ‘new_page’ :</font></font></center></h2>

In [9]:
b = ab_data.query('group == "control" & landing_page != "old_page"')
b

        user_id                   timestamp    group landing_page  converted
22       767017  2017-01-12 22:58:14.991443  control     new_page          0
240      733976  2017-01-11 15:11:16.407599  control     new_page          0
490      808613  2017-01-10 21:44:01.292755  control     new_page          0
846      637639  2017-01-11 23:09:52.682329  control     new_page          1
850      793580  2017-01-08 03:25:33.723712  control     new_page          1
...         ...                         ...      ...          ...        ...
293894   741581  2017-01-09 20:49:03.391764  control     new_page          0
293996   942612  2017-01-08 13:52:28.182648  control     new_page          0
294200   928506  2017-01-13 21:32:10.491309  control     new_page          0
294253   886135  2017-01-06 12:49:20.509403  control     new_page          0
294331   689637  2017-01-13 11:34:28.339532  control     new_page          0

[1928 rows x 5 columns]

<h3><font color='limegreen'> Putting error number 2 and 3 in a data frame called <font color='crimson'> "wrong"</font>.</font></h3>

In [10]:
wrong = a.append(b)
wrong

        user_id                   timestamp      group landing_page  converted
308      857184  2017-01-20 07:34:59.832626  treatment     old_page          0
327      686623  2017-01-09 14:26:40.734775  treatment     old_page          0
357      856078  2017-01-12 12:29:30.354835  treatment     old_page          0
685      666385  2017-01-23 08:11:54.823806  treatment     old_page          0
713      748761  2017-01-10 15:47:44.445196  treatment     old_page          0
...         ...                         ...        ...          ...        ...
293894   741581  2017-01-09 20:49:03.391764    control     new_page          0
293996   942612  2017-01-08 13:52:28.182648    control     new_page          0
294200   928506  2017-01-13 21:32:10.491309    control     new_page          0
294253   886135  2017-01-06 12:49:20.509403    control     new_page          0
294331   689637  2017-01-13 11:34:28.339532    control     new_page          0

[3893 rows x 5 columns]

<h3><font color='limegreen'> Removing error number 2 and 3 using <font color='crimson'> drop</font> function.</font></h3>

In [11]:
new_ab_data = ab_data.drop(wrong.index)

<h3><font color='limegreen'> Checking that error number 2 and 3 are truly removed.</font></h3>

In [12]:
new_ab_data[((new_ab_data['group'] == 'treatment') == (new_ab_data['landing_page'] == 'new_page')) == False].shape[0]

0

In [13]:
new_ab_data[((new_ab_data['group'] == 'control') == (new_ab_data['landing_page'] == 'old_page')) == False].shape[0]

0

<h2><center><font color='crimson'>Error number 4; <font color='blue'>Checking if there is any duplicated values:</font></center></h2>

In [14]:
new_ab_data['user_id'].nunique()

290584

In [15]:
new_ab_data.shape[0]

290585

<h3><font color='limegreen'> Here it shows that there is one duplicated value:</font></h3>

In [16]:
print("The unique values: " , new_ab_data['user_id'].nunique())
print("The whole value: " , new_ab_data.shape[0])

The unique values:  290584
The whole value:  290585

In [17]:
duplication = new_ab_data[new_ab_data['user_id'].duplicated()]
duplication

      user_id                   timestamp      group landing_page  converted
2893   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

<h3><font color='limegreen'> Removing error number 4 using <font color='crimson'> drop</font> function.</font></h3>

In [18]:
new_ab = new_ab_data.drop(duplication.index)

<h3><font color='limegreen'> Checking that error number 4 is truly removed.</font></h3>

In [19]:
new_ab_data.shape[0]

290585

In [20]:
new_ab.shape[0]

290584

In [21]:
print("The unique values: " , new_ab_data['user_id'].nunique())
print("The whole value: " , new_ab.shape[0])

The unique values:  290584
The whole value:  290584

<h2><center><font color='crimson'> Now the file is clean of any errors:</font></center></h2>

In [22]:
new_ab

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[290584 rows x 5 columns]