<h1><center><font color='midnightblue'> Assignment Of Descriptive Statistics:</font></center></h1>

In [106]:
import pandas as pd
import numpy as np

<h2><center><font color='blue'> Reading the <font color='darkcyan'>"Salary_Data"</font> csv file:</font></center></h2>

In [107]:
salary_data = pd.read_csv('Salary_Data.csv')
salary_data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

<h2><center><font color='blue'> Describing the file:</font></center></h2>

In [108]:
salary_data.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

<h2><center><font color='blue'> Calculating the mean:</font></center></h2>

In [109]:
def salary_data_mean() :
    print("The mean of YearsExperience: ",salary_data.describe().mean()[0])
    print("The mean of Salary: ",salary_data.describe().mean()[1])

In [110]:
salary_data_mean()

The mean of YearsExperience:  8.168902686374508
The mean of Salary:  60758.991223072786

<h2><center><font color='blue'> Calculating the median:</font></center></h2>

In [111]:
def salary_data_median() :
    print("The median of YearsExperience: ",salary_data.describe().median()[0])
    print("The median of Salary: ",salary_data.describe().median()[1])

In [112]:
salary_data_median()

The median of YearsExperience:  5.006666666666667
The median of Salary:  60978.875

<h2><center><font color='blue'> Calculating the mode:</font></center></h2>

In [113]:
def salary_data_mode() :
    print(salary_data.describe().mode())

In [114]:
salary_data_mode()

   YearsExperience         Salary
0         1.100000      30.000000
1         2.837888   27414.429785
2         3.200000   37731.000000
3         4.700000   56720.750000
4         5.313333   65237.000000
5         7.700000   76003.000000
6        10.500000  100544.750000
7        30.000000  122391.000000

<h2><center><font color='blue'> Calculating the standard deviation:</font></center></h2>

In [115]:
def salary_data_std() :
    print("The standard deviation of YearsExperience: ",salary_data.describe().std()[0])
    print("The standard deviation of Salary: ",salary_data.describe().std()[1])

In [116]:
salary_data_std()

The standard deviation of YearsExperience:  9.30067087834344
The standard deviation of Salary:  39605.7524645371

<h2><center><font color='blue'> Calculating the correlation coefficient:</font></center></h2>

In [117]:
def salary_data_corrcoef() :
    print("The correlation coefficient of YearsExperience: ",np.corrcoef(salary_data['YearsExperience']))
    print("The correlation coefficient of Salary: ",np.corrcoef(salary_data['Salary']))

In [118]:
salary_data_corrcoef()

The correlation coefficient of YearsExperience:  1.0
The correlation coefficient of Salary:  1.0