In [3]:
import sqlite3
import csv
import requests
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime, date 
import time

### Scrap the books (name, price, rate) for each category and put them into a CSV & Excel file
### https://books.toscrape.com/

In [2]:
response = requests.request('GET',"https://books.toscrape.com/")
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
### original attempt, scrapped as it didn't account for multiple pages per category ###
#==============================================================================================#
# #def scrape_categories():
    
# all_categories = soup.find('div',attrs = { 'class':'side_categories'}).find('ul').find_all('a')
# categories_names = []
# categories_links = []
# categories = []

# for category in all_categories:
#     categories_names.append(category.get_text().strip())
#     categories_links.append(category.get('href'))

# for index in range(len(all_categories)):
#     categories.append((categories_names[index] , 'https://books.toscrape.com/'+categories_links[index]))

# #return categories

In [3]:
#attempt 2 
def scrape_pages():
    
    all_categories = soup.find('div',attrs = { 'class':'side_categories'}).find('ul').find_all('a')
    
    categories_names = []       #all main categories 
    categories_main_pages = []  #index/main page of each category '../../index.html'
    categories_links = []       #all links/directories for all categories' main page
    all_pages = []   #all pages' data (category,link)
    
        #save each category's name & link to lists 'names' and 'links'
    for category in all_categories:
        categories_names.append(category.get_text().strip())
        categories_links.append(category.get('href'))
    
        #loop by number of categories
    for index in range(len(all_categories)):
        
            #save category's main page data to list 'main_pages'
        categories_main_pages.append((categories_names[index] , 'https://books.toscrape.com/'+categories_links[index]))
        
            #detect 'next' button in category's main page
        category_response = requests.request('GET',categories_main_pages[index][1])
        category_soup = BeautifulSoup(category_response.content,'html.parser')
        next_btn = category_soup.find('li',attrs={'class':'current'})
        
            #if there is no "next" button (category has single page), add main page data to list 'all_pages' 
        if next_btn == None:   
            all_pages.append((categories_names[index] , 'https://books.toscrape.com/'+categories_links[index]))
            
        else:
                #detect how many pages are there for the category 
            count = int(next_btn.get_text().split()[-1])
            
                #loop by number of pages and add each page's data to list 'all_pages'
            for i in range(1,count+1):
                all_pages.append((categories_names[index] , 'https://books.toscrape.com/'+categories_links[index][:-10]+f'page-{i}.html'))
                
    return all_pages

In [4]:
def scrape_books(all_pages):
    
    book_entries = [] #each book's data (category, name, price, rating)
    rating_dict = {"One": 1, "Two": 2, "Three": 3, "Four": 4, "Five": 5}
    
        #loop by each page in , find each book's information and save it in list 'books' 
    for category in range(50,len(all_pages)):     #skips pages with category 'Books' (from 0 to 49) as it contains all other books
        
        response = requests.request('GET',all_pages[category][1])
        soup = BeautifulSoup(response.content,'html.parser')
        books = soup.find_all('article',attrs={'class':'product_pod'}) #finds all the books in the page and puts them in a list 
        
            #loop by number of books found in page
        for book in range(len(books)):
            
                #collect book info
            cat = all_pages[category][0]
            name = books[book].find('h3').find('a').get('title')
            price = float((books[book].find('p',attrs={'class':'price_color'}).get_text()[1:]).strip())
            rating = rating_dict[(books[book].find('p').get('class')[1]).strip()]
            
                #append book info to list 'book_entries'
            book_entries.append({"category": cat, "name": name, "price in £":price, "rating star(s)": rating})
            
    return book_entries

In [5]:
def scrape_the_website():
    print("scrapping website pages, please wait...")
    pages = scrape_pages()
    
    print("scraping website pages complete, scrapping book data...")
    book_data = scrape_books(pages)
    
    print("scraping book data complete, writing data in csv file...")
    #time.sleep(2)
    
    #Write books in csv file ==========================
    with open('books to scrape web scrapping.csv','w') as f:
        writer = csv.DictWriter(f,fieldnames = ['category','name','price in £','rating star(s)'])
        writer.writeheader()
        for i in range(len(book_data)):
            writer.writerow(book_data[i])     
    print("writing csv file complete, writing categories in database SQLite...")
    
    #collect categories ==========================
    categories = []
    for page in book_data:
        categories.append(page['category'])
    categories = list(set(categories))
    
    #Saving categories in a SQLite DataBase ==========================
    connection = sqlite3.connect('Books to scrape.db')
    sql = "INSERT INTO Categories (Cat_Name) VALUES (?)"
    for cat in categories:
        data = [cat]
        cursor = connection.execute(sql,data)
        connection.commit()
    connection.close()
    print("writing Categories complete, writing Books in database SQLite...")
        
    #Saving books in a SQLite Database ==========================
    connection = sqlite3.connect('Books to scrape.db')
    sql = "INSERT INTO Books (Book_Name,Book_Price,Book_Rating,Cat_ID) VALUES ( ? , ? , ? , (SELECT Cat_ID from Categories WHERE Cat_Name = ?))"
    for book in book_data:
        data = [book['name'],book['price in £'],book['rating star(s)'],book['category']]
        cursor = connection.execute(sql,data)
        connection.commit()
    connection.close()
    print("writing Books complete.")
    # ==========================
    print("Done.")

In [39]:
# categories = []
# for page in book_data:
#     categories.append(page['category'])
# categories = list(set(categories))
# categories

['Travel',
 'Parenting',
 'Novels',
 'Health',
 'Cultural',
 'Horror',
 'Erotica',
 'Music',
 'Sports and Games',
 'Spirituality',
 'Contemporary',
 'Suspense',
 'Fantasy',
 'Historical',
 'Religion',
 'Politics',
 'Young Adult',
 'Poetry',
 'Crime',
 'Academic',
 'Art',
 'Science Fiction',
 'Add a comment',
 'Historical Fiction',
 'Business',
 'Thriller',
 'New Adult',
 'Short Stories',
 'Childrens',
 'Mystery',
 'Paranormal',
 'Nonfiction',
 'Psychology',
 'Self Help',
 'Christian Fiction',
 'Food and Drink',
 'Romance',
 'Philosophy',
 'Adult Fiction',
 'Biography',
 'Womens Fiction',
 'Sequential Art',
 'Science',
 'Christian',
 'Autobiography',
 'Classics',
 'Fiction',
 'Default',
 'History',
 'Humor']

In [6]:
scrape_the_website()

scrapping website pages, please wait...
scraping website pages complete, scrapping book data...
scraping book data complete, writing data in csv file...
writing csv file complete, writing categories in database SQLite...
writing Categories complete, writing Books in database SQLite...
writing Books complete.
Done.

In [7]:
data = pd.read_csv('books to scrape web scrapping.csv')

In [8]:
data.sample(10)

,category,name,price in �,rating star(s)
52,Historical Fiction,Lilac Girls,17.28,2
13,Mystery,The Past Never Ends,56.50,4
400,Nonfiction,The Gunning of America: Business and the Makin...,16.81,4
841,Psychology,The Golden Condom: And Other Essays on Love Lo...,39.43,1
889,History,Thomas Jefferson and the Tripoli Pirates: The ...,59.64,1
332,Nonfiction,Throwing Rocks at the Google Bus: How Growth B...,31.12,3
803,Science,Diary of a Citizen Scientist: Chasing Tiger Be...,28.41,1
48,Historical Fiction,The Marriage of Opposites,28.08,4
770,Young Adult,Future Shock (Future Shock #1),55.65,5
596,Default,Taking Shots (Assassins #1),18.88,2

In [9]:
len(data)    #1000 Books

1000

In [10]:
connection = sqlite3.connect('Books to scrape.db')
sql = "SELECT Books.Book_Name, Books.Book_Rating, Books.Book_Price, Categories.Cat_Name FROM Books INNER JOIN Categories ON Books.Cat_ID = Categories.Cat_ID"
cursor = connection.execute(sql)
cursor.fetchmany(10)

[("It's Only the Himalayas", 2, 45.17, 'Travel'),
 ('Full Moon over Noah’s Ark: An Odyssey to Mount Ararat and Beyond',
  4,
  49.43,
  'Travel'),
 ('See America: A Celebration of Our National Parks & Treasured Sites',
  3,
  48.87,
  'Travel'),
 ('Vagabonding: An Uncommon Guide to the Art of Long-Term World Travel',
  2,
  36.94,
  'Travel'),
 ('Under the Tuscan Sun', 3, 37.33, 'Travel'),
 ('A Summer In Europe', 2, 44.34, 'Travel'),
 ('The Great Railway Bazaar', 1, 30.54, 'Travel'),
 ('A Year in Provence (Provence #1)', 4, 56.88, 'Travel'),
 ('The Road to Little Dribbling: Adventures of an American in Britain (Notes From a Small Island #2)',
  1,
  23.21,
  'Travel'),
 ('Neither Here nor There: Travels in Europe', 3, 38.95, 'Travel')]

In [11]:
sql = "SELECT COUNT(Book_Name) FROM Books"
cursor.execute(sql)
cursor.fetchone()    #1000 books

(1000,)

In [12]:
connection.close()