In [2]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv("Assignment_12_ab_data.csv")

In [3]:
data

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

In [4]:
len(data)

294478

In [5]:
data.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [7]:
data.describe()

             user_id      converted
count  294478.000000  294478.000000
mean   787974.124733       0.119659
std     91210.823776       0.324563
min    630000.000000       0.000000
25%    709032.250000       0.000000
50%    787933.500000       0.000000
75%    866911.750000       0.000000
max    945999.000000       1.000000

## 1)Null Values is an Error ##

In [8]:
data.isnull().any()

user_id         False
timestamp       False
group           False
landing_page    False
converted       False
dtype: bool

In [9]:
data.isnull().value_counts()

user_id  timestamp  group  landing_page  converted
False    False      False  False         False        294478
dtype: int64

####   answer: No Null Values found... ####

### Dropping Null values: (Not needed) ###

In [10]:
print("Before: ",len(data))
data.drop(data[data['timestamp']=='Null'].index)
data.drop(data[data['group']=='Null'].index)
data.drop(data[data['landing_page']=='Null'].index)
data.drop(data[data['converted']=='Null'].index)
print("After: ",len(data))

Before:  294478
After:  294478

## 2)Redundant or Duplication is an Error ##

In [11]:
data.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [12]:
#Checking if there is copies of the data
data['user_id'].nunique() != len(data)

True

In [13]:
#isolating copies of data's IDs into 'copies'
copies = data['user_id'].value_counts()
copies = copies[copies>1]
copies

746755    2
722274    2
892271    2
736112    2
728134    2
         ..
631316    2
729939    2
761041    2
762102    2
693843    2
Name: user_id, Length: 3894, dtype: int64

In [14]:
copies_id = copies.index.tolist() #a list of all duplicates of 'user_id'
copies_id[:20]

[746755,
 722274,
 892271,
 736112,
 728134,
 824324,
 689603,
 694958,
 844575,
 699462,
 892736,
 883862,
 779115,
 819318,
 724010,
 922926,
 727824,
 765231,
 779023,
 822436]

In [15]:
bad_data = data[data.user_id.isin(copies_id)]   #all the duplicates
bad_data

        user_id                   timestamp      group landing_page  converted
22       767017  2017-01-12 22:58:14.991443    control     new_page          0
192      656468  2017-01-18 07:13:29.805052  treatment     new_page          1
226      773693  2017-01-23 18:05:45.167335    control     old_page          1
240      733976  2017-01-11 15:11:16.407599    control     new_page          0
246      704650  2017-01-04 19:10:52.655062  treatment     new_page          0
...         ...                         ...        ...          ...        ...
294308   905197  2017-01-03 06:56:47.488231  treatment     new_page          0
294309   787083  2017-01-17 00:15:20.950723    control     old_page          0
294328   641570  2017-01-09 21:59:27.695711    control     old_page          0
294331   689637  2017-01-13 11:34:28.339532    control     new_page          0
294355   744456  2017-01-13 09:32:07.106794  treatment     new_page          0

[7788 rows x 5 columns]

In [16]:
print("Before: ",len(data))
data = data.drop(bad_data.index)
print("After: ",len(data))

#keep in mind that this method removes all the entries that are duplicates, and doesn't keep atleast one copy of the data,
#resulting in unwanted data loss...

Before:  294478
After:  286690

In [17]:
#Checking if there is copies of the data
data['user_id'].nunique() != len(data)

False

## 2.5) Better way to removing duplicates ##

In [18]:
#restore duplicates
data = pd.read_csv("Assignment_12_ab_data.csv")

In [19]:
#dropping duplicates 
print("Before: ",len(data))
data = data.drop_duplicates(subset = 'user_id',keep= 'first')
print("After: ",len(data))

#this method keeps the 'first' copy of each duplicate entry, preserving the data...

Before:  294478
After:  290584

In [20]:
data['user_id'].value_counts()

630836    1
634271    1
753093    1
751044    1
740803    1
         ..
805596    1
803549    1
809694    1
807647    1
630732    1
Name: user_id, Length: 290584, dtype: int64

In [21]:
data

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[290584 rows x 5 columns]

In [22]:
#Checking if there is copies of the data
data['user_id'].nunique() != len(data)

False

## 4.1)The Data Shouldn’t include users their Groups is ‘treatment’ and the landing page is ‘old_page ‘ ## 
## 4.2)The Data Shouldn’t include users their Groups is ‘control’ and the landing page is ‘new_page ‘ ##

In [23]:
error1 = data.query("group == 'treatment' and landing_page == 'old_page'")
error1

        user_id                   timestamp      group landing_page  converted
308      857184  2017-01-20 07:34:59.832626  treatment     old_page          0
327      686623  2017-01-09 14:26:40.734775  treatment     old_page          0
357      856078  2017-01-12 12:29:30.354835  treatment     old_page          0
685      666385  2017-01-23 08:11:54.823806  treatment     old_page          0
713      748761  2017-01-10 15:47:44.445196  treatment     old_page          0
...         ...                         ...        ...          ...        ...
274590   879231  2017-01-03 12:08:24.976156  treatment     old_page          0
282645   717723  2017-01-10 18:43:58.148113  treatment     old_page          0
285987   914482  2017-01-05 16:55:40.060421  treatment     old_page          0
286353   767924  2017-01-08 21:48:53.436050  treatment     old_page          0
287469   921581  2017-01-11 00:11:58.646689  treatment     old_page          0

[1038 rows x 5 columns]

In [24]:
error2 = data.query("group == 'control' and landing_page == 'new_page'")
error2

        user_id                   timestamp    group landing_page  converted
22       767017  2017-01-12 22:58:14.991443  control     new_page          0
240      733976  2017-01-11 15:11:16.407599  control     new_page          0
490      808613  2017-01-10 21:44:01.292755  control     new_page          0
846      637639  2017-01-11 23:09:52.682329  control     new_page          1
850      793580  2017-01-08 03:25:33.723712  control     new_page          1
...         ...                         ...      ...          ...        ...
277083   731502  2017-01-16 05:54:36.502340  control     new_page          0
277283   904541  2017-01-24 12:19:25.218304  control     new_page          0
281176   828478  2017-01-13 23:45:27.822482  control     new_page          0
281593   917949  2017-01-15 03:16:02.243648  control     new_page          1
282950   778907  2017-01-04 02:54:16.589129  control     new_page          0

[1006 rows x 5 columns]

In [25]:
error = error1.append(error2)
error

        user_id                   timestamp      group landing_page  converted
308      857184  2017-01-20 07:34:59.832626  treatment     old_page          0
327      686623  2017-01-09 14:26:40.734775  treatment     old_page          0
357      856078  2017-01-12 12:29:30.354835  treatment     old_page          0
685      666385  2017-01-23 08:11:54.823806  treatment     old_page          0
713      748761  2017-01-10 15:47:44.445196  treatment     old_page          0
...         ...                         ...        ...          ...        ...
277083   731502  2017-01-16 05:54:36.502340    control     new_page          0
277283   904541  2017-01-24 12:19:25.218304    control     new_page          0
281176   828478  2017-01-13 23:45:27.822482    control     new_page          0
281593   917949  2017-01-15 03:16:02.243648    control     new_page          1
282950   778907  2017-01-04 02:54:16.589129    control     new_page          0

[2044 rows x 5 columns]

In [26]:
print("Error1: ",len(error1))
print("Error2: ",len(error2))
print("total: ",len(error1) + len(error2))

Error1:  1038
Error2:  1006
total:  2044

In [27]:
print("Before: ",len(data))
data = data.drop(error.index)
print("After: ",len(data))

Before:  290584
After:  288540

In [28]:
#checking no error remaining 
error1 = data.query("group == 'treatment' and landing_page == 'old_page'")
error2 = data.query("group == 'control' and landing_page == 'new_page'")
error = error1.append(error2)
len(error)

0

### Extra: Writing clean data to an csv file ###

In [29]:
data

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[288540 rows x 5 columns]

In [30]:
data.to_csv("Assignment_12_Cleaned_ab_data.csv",index = False)