# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: used to make mathamtical calculations (integer, floating point... etc.)

Strings: a list of characters that are used to store information that cannot be calculated

Lists: a collection of variables that are saved in memory under one name like an array, but each cell can be a different data type, or even a different list (nesting)

Tuples: a collection of values once declared and saved, cannot be edited in runtime, used to save constants (Example: week days)

Dictionaries:
data structure for storing a group of objects. A dictionary has a set of keys and each key has a single associated values <== Googled

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

===

Answer:

(100.25 x 4) + (500^2)/2 - 15 = 125386           <== 1:Random equation with 100.25

(100.25 x 4) = -(500^2)/2 +15 +125386      

100.25 = (-(500^2)/2 +15 + 125386) / 4           <== Leaving only 100.25 on one side

100.25 = (-(500^2)/2 +15 + (31346.5 x 4) / 4     <== adding back the "Multiplication" part

In [1]:
from math import *
print("Answer = ",( - (pow(500,2)/2) + 15 + (31346.5 * 4)) / 4)

Answer =  100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [2]:
print(4 * (6 + 5))
print(4 * 6 + 5 )
print(4 + 6 * 5 )

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a numberâ€™s square root, as well as its square?

In [5]:
# Square root:
from math import *
sqrt(4)

2.0

In [4]:
# Square:
from math import *
pow(2,2)

4.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [7]:
s = 'hello'
# Print out 'e' using indexing

print(s[1])

e

Reverse the string 'hello' using slicing:

In [6]:
s ='hello'
# Reverse the string using slicing
s = s[::-1]
print(s)

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [8]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1])

o

In [9]:
# Method 2:

print(s[4])

o

## Lists

Build this list [0,0,0] two separate ways.

In [10]:
# Method 1:
list = [0,0,0]
print(list)

[0, 0, 0]

In [11]:
# Method 2:
list = []
for i in range(3):
    list.append(0)
print(list)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [12]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [13]:
list4 = [5,3,4,6,1]

from math import *

list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [14]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [15]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [16]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [17]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

#ya sater ya rab
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

Answer: you cannot sort a dictionary as it is orderless (without an index, only keys) unlike lists and tuples <==Googled

## Tuples

What is the major difference between tuples and lists?<br><br>

Answer: You can edit a listt but not a tuple in runtime

How do you create a tuple?<br><br>

In [18]:
tup = ('omar', 2, 'ali', 1)
print(tup)

('omar', 2, 'ali', 1)

## Sets

What is unique about a set?<br><br>

Use a set to find the unique values of the list below:

In [19]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

#Answer
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [20]:
# Answer before running cell
2 > 3
#false

False

In [21]:
# Answer before running cell
3 <= 2
#false

False

In [22]:
# Answer before running cell
3 == 2.0
#false

False

In [23]:
# Answer before running cell
3.0 == 3

#true

True

In [24]:
# Answer before running cell
4**0.5 != 2

#Ans: ??? what is '**' ? 

#Google ==> Boolean Search Symbols & Terms:
#        Double Asterisks: Double asterisks (**) allow searching for all forms of a word. For example,
#        typing in "sell**" will return all instances of sell, sold, selling, etc.|

False

Final Question: What is the boolean output of the cell block below?

In [26]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

#l_one[2][0] ==> 3
#l_two[2]['k1'] ==> 4
# 3 >= 4 
#Ans: false

False

# Great Work!