# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

**For the full answers, review the Jupyter notebook introductions of each topic!**

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
# Your answer is probably different
(60 + (10 ** 2) / 4 * 7) - 134.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [3]:
4 * (6 + 5)

44

In [4]:
4 * 6 + 5

29

In [5]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?

**Answer: Floating Point Number**

What would you use to find a numberâ€™s square root, as well as its square?

In [6]:
# Square root:
100 ** 0.5

10.0

In [7]:
# Square:
10 ** 2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [12]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [13]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string 'hello', give two methods of producing the letter 'o' using indexing.

In [9]:
s ='hello'
# Print out the 'o'

# Method 1:

s[-1]

'o'

In [10]:
# Method 2:

s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [18]:
# Method 1:
[0] * 3

[0, 0, 0]

In [19]:
# Method 2:
list2 = [0,0,0]
list2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [26]:
list3 = [1, 2, [3, 4, 'hello']]

In [28]:
list3[2]

[3, 4, 'hello']

In [30]:
list3[2][0]

3

In [31]:
list3[2][1]

4

In [32]:
list3[2][2]

'hello'

In [33]:
list3[2][2] = 'goodbye'

In [35]:
list3

[1, 2, [3, 4, 'goodbye']]

In [44]:
list3[2][0] = list3[2][0] + list3[2][1]

In [45]:
list3

[1, 2, [7, 4, 'goodbye']]

Sort the list below:

In [52]:
list4 = [5,3,4,6,1]

In [53]:
# Method 1:
sorted(list4)

[1, 3, 4, 5, 6]

In [54]:
sorted(list4, reverse=True)

[6, 5, 4, 3, 1]

In [55]:
list4

[5, 3, 4, 6, 1]

In [57]:
# Method 2:
list4.sort()
list4

[1, 3, 4, 5, 6]

In [58]:
# Method 2:
list4.sort(reverse=True)
list4

[6, 5, 4, 3, 1]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [63]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [66]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

# Getting a little tricker

In [76]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [77]:
d['k1']

[{'nest_key': ['this is deep', ['hello']]}]

In [78]:
len(d['k1'])

1

In [80]:
d['k1'][0]

{'nest_key': ['this is deep', ['hello']]}

In [82]:
d['k1'][0]['nest_key']

['this is deep', ['hello']]

In [83]:
len(d['k1'][0]['nest_key'])

2

In [84]:
d['k1'][0]['nest_key'][0]

'this is deep'

In [85]:
d['k1'][0]['nest_key'][1]

['hello']

In [22]:
# This was harder than I expected...
d['k1'][0]['nest_key'][1][0]

'hello'

In [87]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [89]:
d.keys()

dict_keys(['k1'])

In [90]:
d['k1']

[1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]

In [91]:
len(d['k1'])

3

In [92]:
d['k1'][0]

1

In [93]:
d['k1'][1]

2

In [94]:
d['k1'][2]

{'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}

In [95]:
d['k1'][2].keys()

dict_keys(['k2'])

In [96]:
d['k1'][2]['k2']

['this is tricky', {'tough': [1, 2, ['hello']]}]

In [97]:
len(d['k1'][2]['k2'])

2

In [98]:
d['k1'][2]['k2'][0]

'this is tricky'

In [99]:
d['k1'][2]['k2'][1]

{'tough': [1, 2, ['hello']]}

In [100]:
d['k1'][2]['k2'][1].keys()

dict_keys(['tough'])

In [101]:
d['k1'][2]['k2'][1]['tough']

[1, 2, ['hello']]

In [102]:
len(d['k1'][2]['k2'][1]['tough'])

3

In [103]:
d['k1'][2]['k2'][1]['tough'][0]

1

In [104]:
d['k1'][2]['k2'][1]['tough'][1]

2

In [105]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']

In [106]:
len(d['k1'][2]['k2'][1]['tough'][2])

1

In [24]:
# Phew!
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

**Answer: No! Because normal dictionaries are *mappings* not a sequence. **

## Tuples

What is the major difference between tuples and lists?

**Tuples are immutable!**

How do you create a tuple?

In [112]:
t = (1,2,3)

In [113]:
len(t)

3

In [109]:
t[0]

1

In [110]:
t[1]

2

In [111]:
t[2]

3

## Sets

What is unique about a set?

**Answer: They don't allow for duplicate items!**

Use a set to find the unique values of the list below:

In [118]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [119]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is false.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is false.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is false. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [120]:
# Answer before running cell
2 > 3

False

In [121]:
# Answer before running cell
3 <= 2

False

In [122]:
# Answer before running cell
3 == 2.0

False

In [123]:
# Answer before running cell
3.0 == 3

True

In [32]:
# Answer before running cell
4 ** 0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [124]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [126]:
l_one

[1, 2, [3, 4]]

In [127]:
len(l_one)

3

In [130]:
l_one[2]

[3, 4]

In [131]:
len(l_one[2])

2

In [132]:
l_one[2][0]

3

In [134]:
l_two

[1, 2, {'k1': 4}]

In [135]:
len(l_two)

3

In [136]:
l_two[0]

1

In [137]:
l_two[2]

{'k1': 4}

In [138]:
l_two[2]['k1']

4

In [139]:
l_one[2][0] >= l_two[2]['k1']

False

# Great Work!